{"filter":false,"title":"requirements.txt","tooltip":"/hybridnativecloud-exercises-serverless/03 - SNS/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1586219349413,"hash":"ab660fc7f71cc6b7475e6a96f3c7a09cd7e93d66"}